@model IEnumerable<TowerDefense.Data.MapPathCoordinate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index" asp-route-reverseDirection="true">Reverse</a>
    <a asp-action="Index" asp-route-reverseDirection="false">Default</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.XCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordinateIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.XCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordinateIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
